body {
	background-color: #f5f5ff;
	margin: -5px 20px;
}

h1 {
	font-family: 'Roboto', sans-serif;
	letter-spacing: 2px;
	vertical-align: bottom;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);


}

small {
	font-family: 'Lato', sans-serif;
	letter-spacing: 6.5px;
	text-shadow: 0 0 0;
	font-style: italic;
	position: relative;
	top: -6px;
	
}

textarea {
	width: 100%;
	border-radius: 5px;
}

.input-group {
	padding-bottom: 3px;
	max-width: 262px;
}

.input-group-addon {
	width: 65px;
}

.input-addon-custom {

}

.analyze {
	position: absolute;
	bottom: 6px;
	right: 16px;
	width: auto;
	background-color: #eee;
	font-weight: bold;
}