body {
	background-color: #eef;
	margin: -5px 20px;
}

h1 {
	font-family: 'Roboto', sans-serif;
	letter-spacing: 2px;
	vertical-align: bottom;



}

small {
	font-family: 'Lato', sans-serif;
	letter-spacing: 6.5px;
	font-style: italic;
	position: relative;
	top: -6px;
	
}

textarea {
	width: 100%;
}

.analyze {
	position: absolute;
	bottom: 6px;
	right: 16px;
	width: auto;
	background-color: #eee;
	font-weight: bold;
}